@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
  color: gray;
}


@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.woff2") format("woff2"),
    url("./fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ADAM";
  src: url("./fonts/ADAMCGPRO.woff2") format("woff2"),
      url("./fonts/ADAMCGPRO.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@layer base {
  body {
    @apply font-lato bg-white dark:bg-black;
  }
  hr {
    @apply border-t-2 border-light-theme-grey bg-light-theme-grey dark:border-green-lintern dark:bg-green-lintern opacity-90
  }
  h1, h2, h3 {
    @apply text-light-theme-grey dark:text-green-lintern font-adam opacity-90
  }
  p {
    @apply text-base
  }
}
